name: Block deploys

on:
  workflow_call:
    inputs:
      workflow:
        required: true
        type: string
        description: 'Workflow (filename or name) to block, e.g. "deploy-production.yml".'
    secrets:
      ADMIN_PAT:
        required: true
        description: 'GitHub PAT to update workflows'

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  disable-deploy-flows:
    name: Disable and cancel deploy
    runs-on: linux-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Disable CD on merge to main
      - name: Disable ${{ inputs.workflow }} workflow
        run: gh workflow disable ${{ inputs.workflow }} || true
        env:
          GH_TOKEN: ${{ secrets.ADMIN_PAT }}

      # Cancel queued, in-progress, requested, pending or waiting deploy jobs
      - name: Cancel ${{ inputs.workflow }} jobs
        run: |
          for runId in $(gh run list -w ${{ inputs.workflow }} -a --json databaseId,status -q '.[] | select(.status == "queued" or .status == "in_progress" or .status == "requested" or .status == "waiting" or .status == "pending") | .databaseId'); do
            echo "Cancelling ${{ inputs.workflow }} job: $runId";
            gh run cancel "$runId" || echo "Could not cancel job $runId. Status might have just changed." ;
          done
        env:
          GH_TOKEN: ${{ secrets.ADMIN_PAT }}
